*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: grid;
    place-content: center;
    background-color: rgb(32, 152, 232);
}

.container section{
    border: 1px solid black;
    border-radius: 2rem;
    width: 100%;
}
.container h1, p{
    padding: 1.5rem;
    text-align: center;
}
.container h1{
    color: rgb(148, 14, 14);
}
#lista-bici{
    display: flex;
    padding: .5rem ;
    align-items: center;
    flex-direction: column;
}
#lista-bici li{
padding-right: 1rem;
}